*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/545/856/original/abstract-line-wave-linear-gradient-background-modern-colorful-wavy-line-abstract-background-vector.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    max-width: 25rem;
    max-height: 40rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.container .wrapper h1{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.container .wrapper form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .wrapper .textField{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.container .wrapper .textField:nth-child(2){
    margin-top: 1rem;
}

.container .wrapper .textField label{
    color: rgb(80, 78, 78);
}

.container .wrapper .textField div{
    width: 100%;
    position: relative;
}

.container .wrapper .textField .InputBoxIcon{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(110, 107, 107);
}


.container .wrapper .textField input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(68, 64, 64);
    padding-bottom: 6px;
    padding-left: 2rem;
}

.container .wrapper .forget{
    font-size: 12px;
    text-align: right;
    padding: 5px 0;
}

.container .wrapper button{
    width: 100%;
    padding: 8px 20px;
    background: linear-gradient(to right, rgb(120, 120, 231), rgb(113, 199, 234));
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 3rem;
}

.container .wrapper .Sign-Up{
    font-size: 12px;
    margin-top: 2rem;
}
.container .wrapper .icons{
    display: flex;
    gap: 8px;
    margin-top: 1rem;
}

.container .wrapper .facebook{
    background-color: rgb(76, 76, 196);
    color: white;
    padding: 7px;
    border-radius: 100%;
}
.container .wrapper .twitter{
    background-color: rgb(110, 198, 227);
    color: white;
    padding: 6px;
    border-radius: 100%;
}
.container .wrapper .google{
    background-color: rgb(237, 59, 5);
    color: white;
    padding: 6px;
    border-radius: 100%;
}
